NEXT_PUBLIC_SUPABASE_URL=https://rxwsnntneiblkwtsgmvh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_anon_key_aqui
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui
MERCADOPAGO_ACCESS_TOKEN=sua_token_aqui
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=sua_public_key_aqui
